.Footer-Para-1 {
  font-weight: 300;
  font-size: 45px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #181b32;
}
.Footer-Top-Div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  width: 1520px;
}
.Footer-Para-2 {
  width: 476px;
  height: 34px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 190%;
  text-align: center;
  margin-top: 20px;
  color: #666680;
}
.Footer-Email {
  height: 60px;
  width: 410px;
  left: 0px;
  top: 0px;
  border-radius: 73px;
  background-color: #f8fafe;
  border: none;
  opacity: 50%;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
}
.Footer-Email-Div {
  width: 580px;
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
}
.Footer-Submit-Btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 110px;
  left: 430px;
  top: 0px;
  border-radius: 73px;
  background-color: #524fd5;
}
.Submit-Btn {
  font-size: 17px;
  color: #f8fafe;
  font-family: Arial, Helvetica, sans-serif;
}
.Footer-Bootom-Div {
  height: 352px;
  width: 1240px;
  left: 100px;
  top: 5023px;
  border-radius: 40px;
  background-color: #f8fafe;
  margin-left: 150px;
  margin-top: 160px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.Logo-First-Half {
  margin-top: 4px;
  height: 14px;
  width: 28px;
  border-radius: 2px;
  background: #524fd5;
  transform: skew(-40deg);
  rotate: 142deg;
}
.Logo-Second-Half {
  margin-top: 4px;

  margin-left: 21px;
  position: absolute;
  height: 14px;
  width: 28px;
  border-radius: 2px;
  background: #e8e8f6;
  transform: skew(-40deg);
  rotate: 142deg;
}
.Logo {
  display: flex;
  margin-top: 70px;
  margin-left: 80px;
}
.Logo-Name {
  margin-left: 28px;
  margin-bottom: 2px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.Address {
  line-height: 2;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #666680;
  margin-left: 80px;
  margin-top: 40px;
  width: 270px;
}
.Social-Media-Div {
  width: 250px;
  display: flex;
}
.Social-Div {
  margin-left: 15px;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 36px;
  width: 36px;
  border: 1px solid #e8e8f6;
  border-radius: 50px;
}
